{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block main %}
<div id="react-wrapper">
<main class="container">
  <h1 class="text-center my-4">Books app</h1>
  <div class="row">
    <a href="/">Books</a>

    <div class="col-md-6 col-xs-6 col-sm-10">
      <div class="">
		    <canvas id="chartJSContainer" width="500" height="450"></canvas>
      </div>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-10">
          <div class="">
		    <canvas id="piechartJSContainer" width="500" height="450"></canvas>
      </div>
     </div>
  </div>

</main>
</div>
{% endblock main %}

{% block javascript %}
<script type="text/javascript">
	var data  = {{jsonified_props|safe}}
	console.log(data)
	var props = JSON.stringify(data)
	console.log(props, "hello")
	var options = {
	  type: 'bar',
    responsive: false,

	  data: {
	    labels: data['genre'],
	    datasets: [
		    {
		      label: '# of Books',
		      data: data['values'],
	      	borderWidth: 1,
	        backgroundColor: 'rgba(255, 0, 15, 0.54)'
	    	}
			]
		},
		options: {
		  responsive: false,
			scales: {
	      yAxes: [{
	        ticks: {
	          beginAtZero: true
	        }
	      }]
	    },
			label: {
			  fontSize: 10
			}
		}
	}

var ctx = document.getElementById('chartJSContainer');
var lineChart = new Chart(ctx, options);

var options = {
  type: 'pie',
  data: {
    labels: data['genre'],
    datasets: [{
      backgroundColor: [
        "#2ecc71",
        "#3498db",
        "#95a5a6",
        "#9b59b6",
        "#f1c40f",
        "#e74c3c",
        "#34495e"
      ],
      data: data['values']
    }]
  }
}
var ctx = document.getElementById('piechartJSContainer');
var lineChart = new Chart(ctx, options);

</script>
{% endblock %}
